/* @media only screen and (max-height: 1080px) { 
  body {
    background: url("../public/placemat_1080.png") transparent repeat 0 0;
  }
}
@media only screen and (max-height: 1440px) { 
  body {
    background: url("../public/placemat_1440.png") transparent repeat 0 0;
  }
} */
body {
  background: url("../public/placemat_huge_bottom.png") transparent repeat 0 0;
}
div.navbar {
  background-color:rgb(36, 36, 36);
  width: 50%;
  height: 50px;
  position: absolute;
  left: 25vw;
  text-align: center;
  white-space: break-spaces;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.hidden {
  display: none;
}
a.navbar:hover {
  color: white;
}

a.navbar:visited {
  color: rgb(100, 100, 100);
}

a.navbar:link {
  color: white;
  text-decoration: none;
}

a.navbar {
  margin: 1vw;
}

li.navbar {
  display: inline;
}
ul.navbar{
  margin: 10px;
  padding: 0;
  font-size: 1.15em;
  list-style: none;
}