/* @media only screen and (max-height: 1080px) { 
  body {
    background: url("../public/placemat_1080.png") transparent repeat 0 0;
  }
}
@media only screen and (max-height: 1440px) { 
  body {
    background: url("../public/placemat_1440.png") transparent repeat 0 0;
  }
} */
body {
  background: url("../public/placemat_huge_bottom.png") transparent repeat 0 0;
}

@media only screen and (max-width: 1299px) {
  a:link {
    color: rgb(75, 75, 75);
  }
  a:visited {
    color: rgb(75, 75, 75);
  }
  a:hover {
    color: rgb(75, 75, 75);
  }
  .events, .about, .location {
    text-align: center;
  }
  div.navbar {
    margin-top: 7vh;
  }
  ul.navbar {
    list-style-type: none;
  }
  .instagram {
    height: 30px;
    width: 30px;
    position: relative;
    left: 30px;
  }
  div.socials {
    position: absolute;
    top: 7vh;
    right: 10px;
  }
  .toast {
    height: 30px;
    width: 90px;
  }
}
@media only screen and (min-width: 1300px) {

  .instagram {
    height: 100px;
    width: 100px;
    position: relative;
    left: 100px;
  }
  div.socials {
    position: absolute;
    top: 5vh;
    right: 30px;
  }
  h1.doordash {
    font-size: 72pt;
    position: absolute;
    top: 10vh;
    width: 100%;
  }
  img.doordash {
    height: auto;
    width: 90vw;
    position: absolute;
    top: 50vh;
    right: 5vw;
  }
  img.toast {
    height: 100px;
    width: 300px;
    margin-top: 50px;
  }
  .centered-text {
    text-align: center;
  }
  .x-large-font {
    font-size: x-large;
  }
  .events {
    position: absolute;
    top: 60vh;
    right: 50vw;
    width: 50%;
  }
  iframe.calendar {
    width: 30vw;
    height: 30vh;
  }
  iframe.location {
    width: 30vw;
    height: 30vh;
  }
  div.location {
    position: absolute;
    top: 60vh;
    right: 5vw;
  }
  div.about {
    position: absolute;
    top: 10vh;
    width: 50%;
    right: 25vw;
  }

}